apiVersion: apps/v1                                                       
kind: Deployment                                                          
metadata:                                                                 
  name: nuri-nginx-demo                                                        
  labels:                                                                 
    app: nuri-nginx-demo                                                       
spec:                                                                     
  replicas: 3                                                             
  selector:                                                               
    matchLabels:                                                          
      app: nuri-nginx-demo                                                     
  template:                                                               
    metadata:                                                             
      labels:                                                             
        app: nuri-nginx-demo                                                   
    spec:                                                                 
      containers:                                                         
        - name: nginx                                                       
          image: quay.io/kurs/demoserver-b:latest
          command: ["python3", "-m", "http.server", "5000", "--directory", "/usr/share/nginx/html"]
          ports:                                                            
          - containerPort: 5000                                              
          volumeMounts:
            - name: html-volume
              mountPath: /usr/share/nginx/html/index.html
              subPath: index.html
          livenessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 3
            periodSeconds: 3
          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 3
            periodSeconds: 3
          resources:                                                        
            requests:                                                       
              memory: "64Mi"                                                
              cpu: "100m"                                                   
            limits:
              memory: "2Mi"
              cpu: "200m"
      volumes:
        - name: html-volume
          configMap:
            name: nuri-html-config